data/festival.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="festival">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="meta" type="MetaType"/>
                <xs:element name="venues" type="VenuesType"/>
                <xs:element name="performers" type="PerformersType"/>
                <xs:element name="events" type="EventsType"/>
            </xs:sequence>
        </xs:complexType>
        
        <xs:key name="venueKey">
            <xs:selector xpath="venues/venue"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:key name="performerKey">
            <xs:selector xpath="performers/performer"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="eventVenueRef" refer="venueKey">
            <xs:selector xpath="events/event/venue_ref"/>
            <xs:field xpath="."/>
        </xs:keyref>
        <xs:keyref name="eventPerformerRef" refer="performerKey">
            <xs:selector xpath="events/event/performer_ref"/>
            <xs:field xpath="."/>
        </xs:keyref>
    </xs:element>

    <xs:complexType name="MetaType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="year">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="2026"/>
                        <xs:maxInclusive value="2026"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="start" type="DateType"/>
                        <xs:element name="end" type="DateType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="location" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VenuesType">
        <xs:sequence>
            <xs:element name="venue" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="type">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Open Air Stage"/>
                                    <xs:enumeration value="Workshop Tent"/>
                                    <xs:enumeration value="Relax Zone"/>
                                    <xs:enumeration value="Indoor Hall"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="description" type="xs:string"/>
                    </xs:sequence>
                    <xs:attribute name="id" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:ID">
                                <xs:pattern value="v_[a-z0-9_]+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PerformersType">
        <xs:sequence>
            <xs:element name="performer" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="type" type="xs:string"/> <xs:choice>
                            <xs:element name="genre" type="xs:string"/>
                            <xs:element name="specialty" type="xs:string"/>
                        </xs:choice>
                        <xs:element name="country" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="id" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:ID">
                                <xs:pattern value="p[0-9]+"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EventsType">
        <xs:sequence>
            <xs:element name="event" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="day">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Fri"/>
                                    <xs:enumeration value="Sat"/>
                                    <xs:enumeration value="Sun"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="time">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="venue_ref" type="xs:string"/>
                        <xs:element name="performer_ref" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:ID" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="DateType">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>